body {
  height: 100vh !important;
  background-color: whitesmoke;
}

.App {
  text-align: center;
}

.main-container { 
  padding: 50px;
  height: '100%' !important;
}

.custom-list:hover { 
  cursor: pointer;
  background-color: whitesmoke;
}
